*, *:before, *:after {
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  font-size: 10px;
}

h1 {
  font-size: 6em;
  font-family: sans-serif;
}

.headline {
  padding: 10%;
  font-size: 1em;
  font-family: sans-serif;
  font-weight: lighter;
  text-align: center;
  text-transform: uppercase;

}

.container {
  margin: 0 auto;
  width: 100%;
}
.baku {
  background-image: url(../images/baku.jpg);
  background-size: cover;
  background-position: right;
}

.london{
  background-image: url(../images/london.png);
  background-size: cover;
  background-position: right;
}

.madrid {
  background-image: url(../images/madrid.jpg);
  background-size: cover;
  background-position: right;
}

.rome {
  background-image: url(../images/rome.jpg);
  background-size: cover;
  background-position: right;
}

.preview {
  padding-top: 10%;
  padding-bottom: 40%;
  padding-left: 10%;
  height:300px;
}

h1, h2 {
  font-size: 3em;
  margin: 0;
}

h2 {
  font-size: 1.8em;
  font-weight: 300;
}

@media (min-width: 600px){
.container {
  width: 75%
}
.preview {
  float: right;
  margin: 1%;
  width: 48%;
}
}

@media (min-width: 900px){
.container {
  width: 80%
}
.preview {
  background-size: cover;
  height: 200px;
  margin: 2em 1%;
  width: 23%;
}
}
